:root{
    --myBlue: #001fd2;
    --myPurple: #700fdb;
    --myPink: #dc00e4;
}

/* Universal Elements */
main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    justify-content: center;
}

header {
    display: block;
    width: 100%;
}

.header-stuff {
    color: white;
    background: rgb(10,10,10);
    background: linear-gradient(90deg, rgba(0,31,210,0.8926164215686274) 0%, rgba(220,0,228,1) 100%);  
    text-align: center;
    padding: 20px 10px 15px 10px;
}

footer {
    min-height: 50px;
    color: white;
    text-align: center;
    background: rgb(10,10,10);
    background: linear-gradient(90deg,var(--myBlue) 0%, var(--myPink) 100%);
}