:root {
    --myBlue: #001fd2;
    --myPurple: #700fdb;
    --myPink: #dc00e4;
    --dark: #212159;
}

/* Universal Elements */
main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    justify-content: space-around;
}

header {
    display: block;
    min-width: 100%;
    margin-bottom: 2rem;
}

.header-content {
    color: white;
    background: rgb(10,10,10);
    background: linear-gradient(90deg, var(--myBlue) 0%, var(--myPink) 100%);
    text-align: center;
    padding: 20px 10px 15px 10px;
}

.search-section {
    margin:2rem;
    color:white;
    background: grey;
    -webkit-box-shadow:0px 0px 51px 10pxn var(--myBlue);
    -moz-box-shadow: 0px 0px 51px 10px var(--myBlue);
    box-shadow: 0px 0px 51px 10px var(--myBlue);
    min-height: auto;
}

.dashboard-section {
    min-width: 55%;
    margin:2rem;
    margin-left: 1.75rem;
    background: grey;
    -webkit-box-shadow:0px 0px 51px 10px var(--myPink);
    -moz-box-shadow: 0px 0px 51px 10x var(--myPink);
    box-shadow: 0px 0px 51px 10px var(--myPink);
}

ul {
    font-weight: bold;
    font-size: large;
    color: var(--myPurple);
    /* font-family: */
}

.forecast-section {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    margin-top: 4rem;
    min-width: 90%;
    background: grey;
    -webkit-box-shadow:0px 0px 51px 10px var(--myPurple);
    -moz-box-shadow: 0px 0px 51px 10px var(--myPurple);
    box-shadow: 0px 0px 51px 10px var(--myPurple);
}

footer {
    min-height: 50px;
    color: white;
    text-align: center;
    background: rgb(10,10,10);
    background: linear-gradient(90deg,var(--myBlue) 0%, var(--myPink) 100%);
}

.footer-text {
    padding: 2rem;
    /* vertically align text */
}